@font-face {
    font-family: 'Press Gothic Pro';
    src: url('PressGothicPro.woff2') format('woff2'),
        url('PressGothicPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Press Gothic Pro';
    src: url('PressGothicPro.woff2') format('woff2'),
        url('PressGothicPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Press Gothic Pro';
    src: url('PressGothicPro.woff2') format('woff2'),
        url('PressGothicPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

